@using WarmSide.WebFace.Models

@model AuthViewModel

@{
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}
<div class="authForm">
    <div>
        <span>
            <a href="/Auth/LoginViaSTS" class="btn btn-info authGoogleButton">Login via STS</a>
            <a href="/Auth/LoginViaGoogle" class="btn btn-info authGoogleButton">Login via Google</a>
        </span>
    </div>
</div>
