@using WarmSide.STS.Models

@model AuthViewModel

@{
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}
<div class="authForm">
        <div>
            <span>
                Invalid Password
                <a href="/Auth/Login" class="authSubmitButton btn btn-info">Login Page</a>
            </span>
        </div>
</div>
