
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1.0 />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<<<<<<< HEAD
<body id="bodyTag" ng-app="weatherApp">
=======
<body ng-cloak>
>>>>>>> a2c1f69c85ad354037a3bc9d4407a86e65a7e314
    <div> 
        @RenderBody()
    </div>
    <script src="~/Scripts/libs/jquery-3.2.1.js"></script>
    <script src="~/Scripts/libs/angular.js"></script>
    <script src="~/Scripts/app/weatherApp.module.js"></script>
    <script src="~/Scripts/app/weatherApp-data.service.js"></script>
    <script src="~/Scripts/app/weatherApp.controller.js"></script>
</body>
</html>
