
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1.0 />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body ng-cloak>
    <div> 
        @RenderBody()
    </div>
    <script src="~/Scripts/libs/angular.js"></script>
    <script src="~/Scripts/app/weatherApp.module.js"></script>
    <script src="~/Scripts/app/weatherApp-data.service.js"></script>
    <script src="~/Scripts/app/weatherApp.controller.js"></script>
</body>
</html>
