<span class="header">
    <img src="~/siteIcon.gif">
    <label class="h2 caption headerText">WarmSide Weather Portal</label>
</span>

<div ng-app="weatherApp">
    <div ng-controller="WeatherController as wc">
        <label class="h3 currentLocationText">Current location is {{wc.currentCity}}</label>
        <div class="changeCityBox">
            <label>Please enter the city name:</label>
            <input type="text" class="input-sm" style="background:transparent; font:600" ng-model="wc.currentCity" />
            <button class="btn btn-info" ng-click="wc.getCurrentWeather(wc.currentCity)">Get the forecast</button>
        </div>
        <div class="currentWeather">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <!-- weather-widget  -->
                <div id="weather-widget" class="weather-widget">
                    <h2 id="weather-widget-city-name" class="weather-widget__city-name">Weather in {{wc.currentWeatherState.name}}, {{wc.currentWeatherState.sys.country}}</h2>
                    <h3 id="weather-widget-temperature" class="weather-widget__temperature"><img ng-src="{{wc.iconUri}}" />{{(wc.currentWeatherState.main.temp)/33.8 | number:1}} °C</h3>
                    <p id="weather-widget-main" class="weather-widget__main capitalize">{{wc.currentWeatherState.weather[0].description}}</p>
                    <table class="weather-widget__items table table-bordered table-striped table-condensed">
                        <tbody>
                            <tr>
                                <td>Wind</td>
                                <td id="weather-widget-wind">{{wc.currentWeatherState.wind.speed}}  m/s </td>
                            </tr>
                            <tr>
                                <td>Cloudiness</td>
                                <td id="weather-widget-cloudiness">{{wc.getCloudinessLevelDesc(wc.currentWeatherState.clouds.all)}}</td>
                            </tr>
                            <tr>
                                <td>Pressure</td>
                                <td id="weather-widget-pressure">{{wc.currentWeatherState.main.pressure }} hpa</td>
                            </tr>
                            <tr>
                                <td>Humidity</td>
                                <td id="weather-widget-humidity">{{wc.currentWeatherState.main.humidity}} %</td>
                            </tr>

                            <tr>
                                <td>Sunrise</td>
                                <td id="weather-widget-sunrise">{{wc.currentWeatherState.sys.sunrise*1000 | date:'mediumTime'}} </td>
                            </tr>
                            <tr>
                                <td>Sunset</td>
                                <td id="weather-widget-sunset">{{wc.currentWeatherState.sys.sunset*1000 | date:'mediumTime'}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="weatherForecast">
            <div id="forecast_small" class="scale-of-measurement">
                <div ng-repeat="item in wc.weatherForecast.list" class="scale-of-measurement__item">
                    <img alt="scattered clouds" src="http://openweathermap.org/img/w/03d.png">
                    <div class="small_val" title="Temp">12.98 °C</div>
                    <div class="small_val" title="Wind">1.77m/s</div>
                    <div class="small_val_grey" title="Pressure">1042.97</div>
                </div>
            </div>
        </div>
    </div>
</div>

