<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFLogger" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WCFLogger/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFLogger" contract="WCFLogger.IWCFLogger"
                name="BasicHttpBinding_IWCFLogger" />
        </client>
    </system.serviceModel>
</configuration>