<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="netNamedPipeBinding_IWCFLogger" />
                <binding name="NetNamedPipeBinding_IWCFLogger" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/WCFLogger/" binding="netNamedPipeBinding"
                bindingConfiguration="netNamedPipeBinding_IWCFLogger" contract="WCFLogger.IWCFLogger"
                name="netNamedPipeBinding_IWCFLogger" />
        </client>
    </system.serviceModel>
</configuration>